:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);

  --linear-gradient-start: hsl(0, 0%, 100%);
  --linear-gradient-end: hsl(0, 100%, 98%);
  --linear-gradient-start2: hsl(0, 80%, 86%);
  --linear-gradient-end2: hsl(0, 74%, 74%);
}
